[user]
	email = tahiruabdulrahmanbaaba3@gmail.com
	name = artb433
	password = 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
[credential]
	helper = cache
